select, option {
    width: 370px;
  }

  option {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 10px;
}
  

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}