<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<!-- BODY -->
<br/>
<main>
<div class="container">
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
    <div class="card-body" style="background-color: rgb(200, 210, 219);">
      <!-- <h3 class="card-title">Book Domestic and International Flights</h3> -->
      <img src="assets/card_fligh_img.png" class="center" style="width: 30rem;" alt="..." /> 
        <br />
      <button type="button" routerLink="/flightSearch" class="btn btn-success btn-sm center" style="background-color: rgb(211, 142, 38);"><i class="fa fa-plane" aria-hidden="true"></i> Search Flight</button>
    </div>
  </div>

  <div class="card shadow-lg p-3 mb-5 rounded">
    <div class="card-body" style="background-color: rgb(200, 210, 219);">
      <h3 class="card-title"><b>Book Domestic and International Flights</b></h3>
        <p >The Flight Reservation System is a booking solution for flight tickets.
        It  consolidates data provided by different airline carriers and hence provides the user details 
        and rates in real-time. Travellers may want to make changes in their bookings.
        The  application allows them to book, cancel, view and update their bookings with ease.
        Other  than this, it eases the management of bookings too.
        All the bookings, flights, schedules and  routes can be viewed,
        added and modified on a single application by the administrator.</p>
        <br />
    </div>
  </div>

  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body" style="background-color: rgb(224, 205, 122);">
      <h3 class="card-title"><b>Check out the Best Offers Available</b></h3>
      <div class="row">
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                  <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                      <h3 class="card-title">Contact Us</h3>
                      <div class="row">
                          Full Name: <br>
                          <input class="form-control" type="text" name="fname"><br>
                          Email Address:<br>
                          <input class="form-control" type="email" name="email"><br>
                          Subject: <br>
                          <input class="form-control" type="text" name="subject"><br>
                          Message:<br>
                          <textarea class="form-control" name="message"></textarea>
                      </div>
                      <div class="row">
                          <div class="col-md-3 offset-md-9">
                              <button type="button" class="btn btn-success signUpBtn">
                                  <a href="#">Send</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div> -->
</div>
</div>
</main>
<!-- BODY -->